# CSE110 Assignment 5
This assignment is to guide you to solve everything you have learned so far by implementing functions in Python. 

**<font color='red'>[MUST MAINTAIN VARIABLE NAMING CONVENTIONS FOR ALL THE TASKS]</font>**

## Write the Python code of the following problems:

### Task 1
Write a function called **even_checker** that takes a number as an argument and prints whether the number is even or odd *inside the function*.

**Example1:** \
**Function Call:**\
even_checker(5)\
**Output:**\
Odd!!

=============================

**Example2:** \
**Function Call:**\
even_checker(2)\
**Output:**\
Even!!

In [66]:
#user define function part:

def even_checker(num):
    if num%2==0:
        return 'Even!!'
    else:
        return 'Odd!!'
    
#input taking and output printing part:

print(even_checker(int(input())))

5
Odd!!

### Task 2
Write a python function that takes the limit as an argument of the Fibonacci series and prints till that limit. 

**Function Call:**\
fibonacci(10)\
**Output:**\
0 1 1 2 3 5 8\
======================\
**Function Call:**\
fibonacci(5)\
**Output:**\
0 1 1 2 3 5

In [50]:
#user define function part:

def fibonacci(num):
    first_val=0
    second_val=1
    counter=0
    while True:
        if counter<=1:
            output=counter
        else:
            output=first_val+second_val
            first_val=second_val
            second_val=output
            if output>num:
                break
        counter+=1
        print(output, end=' ')

#input taking part:

fibonacci(int(input()))

8
0 1 1 2 3 5 8

### Task 3
Write a function called **foo_moo** that takes a number as an argument and **returns** the following statements according the below mention conditions. Then, finally prints the statement in the function call. 

* 	If the number is divisible by 2, it should return "Foo".
*   If the number is divisible by 3, it should return "Moo". 
*   If the number is divisible by both 2 and 3, it should return "FooMoo".
*   Otherwise, it returns "Boo".

**Example1:** \
**Function Call:**\
foo_moo(5)\
**Output:**\
Boo

=================


**Example2:** \
**Function Call:**\
foo_moo(4)\
**Output:**\
Foo

=================


**Example3:** \
**Function Call:**\
foo_moo(6)\
**Output:**\
FooMoo

In [68]:
#user define function part:

def foo_moo(num):
    if num%2==0 and num%3==0:
        return 'FooMoo'
    elif num%2==0:
        return 'Foo'
    elif num%3==0:
        return 'Moo'
    else:
        return 'Boo'
    
#input taking and output printing part:

print(foo_moo(int(input())))

6
FooMoo

### Task 4
Write a python function that takes a string as an argument. Your task is to calculate the number of uppercase letters and lowercase letters and print them in the function. 

**Function Call:**\
function_name('The quick Sand Man')\
**Output:**\
No. of Uppercase characters : 3\
No. of Lowercase Characters: 12\
============================\
**Function Call:**\
function_name('HaRRy PotteR')\
**Output:**\
No. of Uppercase characters : 5\
No. of Lowercase Characters: 6

In [1]:
#user define function part:

def case_checker(user_stri):
    upper_count=0
    lower_count=0
    temp=user_stri.replace(' ','')
    for i in temp:
        if ord(i)<=90 and ord(i)>=65:
            upper_count+=1
        elif ord(i)<=122 and ord(i)>=97:
            lower_count+=1
    print('No. of Uppercase chacters :', upper_count)
    print('No. of Lowercase chacters :', lower_count)

#input taking part:
    
case_checker(input())

HaRRy PotteR
No. of Uppercase chacters : 5
No. of Lowercase chacters : 6

### Task 5
Write a function called **calculate_tax** that takes 3 arguments: your age, salary, and current job designation.


Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and calculate the tax as the following conditions:
*  **NO TAX IF YOU ARE LESS THAN 18 YEARS OLD.**
*  **NO TAX IF YOU ARE THE PRESIDENT OF THE COMPANY** 
*  No tax if you get paid less than 10,000
*  5% tax if you get paid between 10K and 20K
*  10% tax if you get paid more than 20K


Finally return this tax value. Then print the returned value in the function call.

**Example1:** \
**Input:**\
16\
20000\
Student\
**Function Call:**\
calculate_tax(16, 20000, 'Student')\
**Output:**\
0

===================================

**Example2:** \
**Input:**\
20\
18000\
assistant manager\
**Function Call:**\
calculate_tax(20, 18000, 'assistant manager')\
**Output:**\
900.0


===================================

**Example3:** \
**Input:**\
20\
22000\
assistant manager\
**Function Call:**\
calculate_tax(20, 22000, 'Assistant manager')\
**Output:**\
2200.0

===================================


**Example4:** \
**Input:**\
20\
122000\
president\
**Function Call:**\
calculate_tax(20, 122000, 'president')\
**Output:**\
0
 

**Hints:**\
Here the job designation is a string, so it can be written in both uppercase and lower cases. So, you need to check the value ignoring the case.

In [70]:
#user define function part:

def calculate_tax(age,salary,design):
    temp=design.lower()
    if age<18 or temp=='president' or salary<10000:
        return 0
    elif salary>=10000 and salary<=20000:
        return salary*(5/100)
    else:
        return salary*(10/100)
    
#input taking and output printing part:

print(calculate_tax(int(input()), int(input()), input()))

20
18000
Assistant Manager
900.0

### Task 6
Write a function which will take 1 argument, number of days.

Your first task is to take the number of days as user input and pass the value to the function.
 
Your second task is to implement the function and calculate the total number of years, number of months, and the remaining number of days as output. No need to return any value, print inside the function. 

**Note:** Assume, each year to be 365 days and month to be 30 days.

**Hint:** Divide and mod the main input to get the desired output.

**Input:**\
4330\
**Function Call:**\
function_name(4330)\
**Output:**\
11 years, 10 months and 15 days

================================

**Input:**\
2250\
**Function Call:**\
function_name(2250)\
**Output:**\
6 years, 2 months and 0 days


**Hints:** \
This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion.

In [32]:
#user define function part:

def day_converter(days):
    year=days//365
    temp=days%365
    month=temp//30
    day=temp%30
    print(year,'years,', month, 'months and', day, 'days')
    
#input taking part:

day_converter(int(input()))

2250
6 years, 2 months and 0 days

### Task 7
Write a function called **splitting_money** that takes an “amount” of money as a argument.

Your first task is to take the “amount” of money as user input and pass the value to the function paramater.
 
Your second task is to implement the function and calculate how that money can be split into 500, 100, 50, 20, 10, 5, 2, and 1 taka notes.

Then print the returned value in the function call.

**Example1:** \
If the money is 1234, then the function should return 

"500 Taka: 2 note(s) \
100 Taka: 2 note(s) \
20 Taka: 1 note(s) \
10 Taka: 1 note(s) \
2 Taka: 2 note(s)"

**Example2:** \
If the money is 151, then the function should return

"100 Taka: 1 note(s)\
50 Taka: 1 note(s)\
1 Taka: 1 note(s)"


**Hints:** \
This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion. To return the result containing multiple strings, you need to store it in a variable and return it at the end of the function.

In [33]:
#user define function part:

def splitting_money(amount):
    output=''
    
    c_500=amount//500
    temp1=amount%500
    if c_500!=0:
        output+='500 Taka: '+str(c_500)+' note(s)\n'
    
    c_100=temp1//100
    temp2=temp1%100
    if c_100!=0:
        output+='100 Taka: '+str(c_100)+' note(s)\n'
    
    c_50=temp2//50
    temp3=temp2%50
    if c_50!=0:
        output+='50 Taka: '+str(c_50)+' note(s)\n'
    
    c_20=temp3//20
    temp4=temp3%20
    if c_20!=0:
        output+='20 Taka: '+str(c_20)+' note(s)\n'
    
    c_10=temp4//10
    temp5=temp4%10
    if c_10!=0:
        output+='10 Taka: '+str(c_10)+' note(s)\n'
    
    c_2=temp5//2
    temp6=temp5%2
    if c_2!=0:
        output+='2 Taka: '+str(c_2)+' note(s)\n'
    
    c_1=temp6//1
    if c_1!=0:
        output+='1 Taka: '+str(c_1)+' note(s)\n'
    
    return output

#input taking and output printing part:

print(splitting_money(int(input())))

1234
500 Taka: 2 note(s)
100 Taka: 2 note(s)
20 Taka: 1 note(s)
10 Taka: 1 note(s)
2 Taka: 2 note(s)

### Task 8
Write a function called **show_palindrome** that takes a number as an argument and then returns a palindrome string. Finally, prints the returned value in the function call.

**Example1:** \
**Function Call:**\
show_palindrome(5)\
**Output:**\
123454321

===================

**Example2:** \
**Function Call:**\
show_palindrome(3)\
**Output:**\
12321

In [71]:
#user define function part:

def show_palindrome(num):
    for i in range(1,num+1):
        print(i,end='')
    for j in range(num-1,0,-1):
        print(j,end='')
    
#input taking part:

show_palindrome(int(input()))

5
123454321

### Task 9
Write a function called **show_palindromic_triangle** that takes a number as a argument and prints a Palindromic Triangle in the function. 


**Example1:** \
**Function Call:**\
show_palindromic_triangle(5)\
**Output:**

&emsp; &emsp; &emsp; &emsp; 1\
&emsp; &emsp; &emsp; 1 &nbsp; 2 &nbsp; 1 \
&emsp; &emsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 2 &nbsp; 1 \
&emsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 3 &nbsp; 2 &nbsp; 1 \
1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 5 &nbsp; 4 &nbsp; 3 &nbsp; 2 &nbsp; 1

=============================================================


**Example1:** \
**Function Call:**\
show_palindromic_triangle(3)\
**Output:**

&emsp; &emsp; 1 \
&emsp; 1 &nbsp; 2 &nbsp; 1 \
1 &nbsp; 2 &nbsp; 3 &nbsp; 2 &nbsp; 1


**Hints:** \
Need to use both print() and print( , end = " ") functions

In [48]:
# to do
def show_palindromic_triangle(number):
    for row in range(1,number+1):
        for space in range(number,row,-1):
            print('  ', end='')
        for first_num in range(1,row+1):
            print(first_num,end=' ')
        for second_num in range(row-1,0,-1):
            if second_num==1:
                print(second_num,end='')
            else:
                print(second_num,end=' ')
        print()

show_palindromic_triangle(5)

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

### Task 10
Write a function called **area_circumference_generator** that takes a radius of a circle as a  function parameter and calculates its circumference and area. Then returns these two results as a **tuple** and prints the results using tuple unpacking in the function call accorrding to the given format. <font color='red'>[Must use tuple packing & unpacking] </font> 

**Example1:** \
**Function Call:**\
area_circumference_generator(1)\
**Output:**\
(3.141592653589793, 6.283185307179586)\
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

====================================

**Example2:** \
**Function Call:**\
area_circumference_generator(1.5)\
**Output:**\
(7.0685834705770345, 9.42477796076938)\
Area of the circle is 7.0685834705770345 and circumference is 9.42477796076938

====================================


**Example3:** \
**Function Call:**\
area_circumference_generator(2.5)\
**Output:**\
(19.634954084936208, 15.707963267948966)\
Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

In [72]:
#user define function part:

import math
def area_circumference_generator(rad):
    return math.pi*rad*rad, 2*math.pi*rad

#input taking and output printing part:

user_in=float(input())
print(area_circumference_generator(user_in))
area,cir = area_circumference_generator(user_in)
print('Area of the circle is',area, 'and circumference is',cir)

2.5
(19.634954084936208, 15.707963267948966)
Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

### Task 11
Write a function called **make_square** that takes a tuple in the parameter as a range of numbers (starting point and ending point (included)). The function should **return a dictionary** with the numbers as keys and its squares as values.

**Example1:** \
**Function Call:**\
make_square((1,3))\
**Output:**\
{1: 1, 2: 4, 3: 9}

====================================

**Example2:** \
**Function Call:**\
make_square((5,9))\
**Output:**\
{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}



**Hints:** \
You need to declare a dictionary to store the result. You should use the range function to run the “for loop”.

In [3]:
#user define function part:

def make_square(user_range):
    out_dict={}
    for i in range(user_range[0],user_range[1]+1):
        out_dict.update({i:(i**2)})
    return out_dict

#input taking and output printing part:

print(make_square((5,9)))

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Task 12
Write a function called **remove_odd** that takes a list of numbers that have both even and odd numbers mixed. \
Your function should remove all the odd numbers and **return a compact list** which only contains the even numbers. 

**Example1:** \
**Function Call:**\
remove_odd ([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])\
**Output:**\
[44, 66, 88, 10]

====================================

**Example2:** \
**Function Call:**\
remove_odd ([11,2,3,4,5,2,0,5,3])\
**Output:**\
[2, 4, 2, 0]

In [1]:
#user define function part:

def remove_odd(numbers):
    out_list=[]
    for i in numbers:
        if i%2==0:
            out_list.append(i)
    return out_list

#input taking and output printing part:

print(remove_odd([21, 33, 44, 66, 11, 1, 88, 45, 10, 9]))

[44, 66, 88, 10]

### Task 13
Write a function called **rem_duplicate** that takes a tuple in the parameter and return a tuple removing all the duplicate values. Then print the returned tuple in the function call.

**Example1:** \
**Function Call:**\
rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))\
**Output:**\
(1, 2, 3, 4, 5, 6, 0)

====================================

**Example2:** \
**Function Call:**\
rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))\
**Output:**\
('Hi', 1, 2, 3, 'a', [1, 2])


**Hints:** \
Unlike lists, tuples are immutable so, the tuple taken as an argument cannot be modified. But list can be modified and lastly for returning the result use type conversion. You need to use membership operators (in, not in) for preventing adding any duplicates values.

In [4]:
#user define function part:

def rem_duplicate(user_tuple):
    out_list=[]
    for i in user_tuple:
        if i not in out_list:
            out_list.append(i)
    return tuple(out_list)

#input taking and output printing part:

print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

('Hi', 1, 2, 3, 'a', [1, 2])

### Task 14
Write a python function that takes a list as an argument. Your task is to create a new list where **each element can be present at max 2 times**. Inside the function, print the number of elements removed from the given list. Finally, return the new list and print the result.

**Hint:** Use list_name.count(element) to count the total number of times an element is in a list. list_name is your new list for this problem.

**Function Call:**\
function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])\
**Output:**\
Removed: 2\
[1, 2, 3, 3, 4, 5, 8, 8]\
================================\
**Function Call:**\
function_name([10, 10, 15, 15, 20])\
**Output:**\
Removed: 0\
[10, 10, 15, 15, 20]

In [59]:
#user define function part:

def max_2_list(user_list):
    out_list=[]
    remove_count=0
    for i in user_list:
        if out_list.count(i)<2:
             out_list.append(i)
        else:
            remove_count+=1
    print('Removed:', remove_count)
    return out_list

#input taking and output printing part:

print(max_2_list([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

### Task 15
Write a function which will take 4 arguments. They are:
- starting value(inclusive)
- ending value(exclusive)
- first divisor
- second divisor

Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and find all the numbers that are divisible by the <u>first divisor or second divisor but not both</u> from the starting value(inclusive) and ending value(exclusive). Add all the numbers that are divisible and finally return this value. Print the returned value in the function call.

**Input:**\
10\
40\
4\
7\
**Function Call:**\
function_name(10, 40, 4, 7)\
**Output:**\
210\
================================\
**Input:**\
5\
100\
3\
4\
**Function Call:**\
function_name(5, 100, 3, 4)\
**Output:**\
2012

In [61]:
#user define function part:

def adding_func(start, end, first, second):
    output=0
    for i in range(start, end):
        if (i%first==0 and i%second!=0) or (i%first!=0 and i%second==0):
            output+=i
    return output

#input taking and output printing part:

print(adding_func(int(input()), int(input()), int(input()), int(input())))

5
100
3
4
2012

### Task 16
Write a python function that will perform the basic calculation (addition, subtraction, multiplication and division) based on 3 arguments. They are:
- Operator ('+', '-', '/', '*')
- First Operand (any number)
- Second Operand (any number)

Your first task is to take these arguments as user input and pass the values to the function parameters.

Your second task is to write a function and performs the calculation based on the given operator. Then, finally return the result in the function call and print the result.

**Input:**\
"+"\
10\
20\
**Function Call:**\
function_name("+", 10, 20)\
**Output:**\
30

================================

**Input:**\
"*"\
5.5\
2.5\
**Function Call:**\
function_name("*", 5.5, 2.5)\
**Output:**\
13.75

In [43]:
#user define function part:

def calculation(op, first, second):
    if op=='+':
        return first+second
    elif op=='-':
        return first-second
    elif op=='*':
        return first*second
    elif op=='/':
        return first/second

#input taking and output printing part:

print(calculation(input(), float(input()), float(input())))

*
5.5
2.5
13.75

### Task 17
Write a python function which will take a string as an argument. 

Your first task is to take a string as user input and pass the value to the function.

Your second task is to implement a function which will check whether all the alphabets from a to j (convert all the alphabets to lowercase) has appeared at least once in the given string or not. 
- If all of these alphabets (a to j) appear at least once, then the result will be 5. 
- If any one of the alphabets (a to j) is not in the given string, then the result will be 6.

Return this result and print the statement, "Chelsea is the best club in England" that many times.

**Example:**
"A black jackal is hunting a full grown deer" 

Here all the alphabets from A to J are present at least once. So, the function will return 5 and will print the statement 5 times.

**Input:**\
"A black jackal is hunting a full grown deer"\
**Function Call:**\
function_name("A black jackal is hunting a full grown deer")\
**Output:**\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England

==============================================

**Input:**\
"ABBCDEFEFGHI"\
**Function Call:**\
function_name("ABBCDEFEFGHI")\
**Output:**\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England

In [5]:
#user define function part:

def case_a_to_j(string):
    temp=string.lower()
    count=0
    for i in range(97,107):
        if chr(i) in temp:
            count+=1
    if count==10:
        return 5
    else:
        return 6

#input taking and output printing part:

for i in range(case_a_to_j(input())):
    print('Chelsea is the best club in England')

A black jackal is hunting a full grown deer
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England

### Task 18
Write a function which will take 2 arguments. They are:
- Sentence 
- position 

Your first task is to take these arguments as user input and pass these values to the function parameters.

Your second task is to implement the function and remove the characters at the index number which is divisible by the position (Avoid the index number 0 as it will always be divisible by the position, so no need to remove the index 0 character). 
Finally, add the removed characters at the end of the new string.

Return the value and then finally, print the new string at the function call.

**Input:**\
"I love programming."\
3\
**Function call:**\
function_name("I love programming.", 3)\
**Output:**\
I lveprgrmmngo oai.

==============================================

**Input:**\
"Python is easy to learn. I love python."\
6\
**Function call:**\
function_name("Python is easy to learn. I love python.", 6)\
**Output:**\
Pythonis eay to earn.I lov pythn. sl eo

In [44]:
#user define function part:

def func(sentence, position):
    non_div_str=''
    div_str=''
    for i in range(len(sentence)):
        if i==0:
            non_div_str+=sentence[i]
        elif i%position==0:
            div_str+=sentence[i]
        else:
            non_div_str+=sentence[i]

    out_str=non_div_str+div_str
    return out_str

#input taking and output printing part:

print(func(input(), int(input())))

Python is easy to learn. I love python.
6
Pythonis eay to earn.I lov pythn. sl eo

### Task 19
You have been hired as an app developer for the company karon_tumi_bekar. The company plans to make an app for a grocery store where the user can order groceries and see the total amount to be paid in the cart section. 

To build this feature, you have to write a function that takes 2 arguments. They are:
- order_items (must be a list)
- location (default value should be set to "Dhanmondi")

Your first task is to take a list of items from the user. Pass the list into the function parameter along with the optional location (Use default argument technique). (Also, no need to take location as input, pass this any value you want.) 

Your second task is to implement the function. In the function, create a dictionary for the items shown in the table. Calculate the total price of the items passed as a list to the function. Additionally, add a delivery fee of 30 taka if the location is Dhanmondi. Otherwise, add a delivery fee of 70 taka. Finally, return the value and print it.

| Item | Price(Tk) |
| --- | --- |
| Rice | 105 |
| Potato | 20 |
| Chicken | 250 |
| Beef | 510 |
| Oil | 85 |

**Hint:** The keys are the items and values are the corresponding price. Iterate the items in the list and check if the items in the list are available in the dictionary keys or not. If it is available, add the price.

**Example:**\
function_name(["Rice", "Beef", "Rice"], "Mohakhali")

total = 105 + 510 + 105 = 720 (Take the price of each item and add them.)\
total = 720 + 70 = 790 (Finally, add the delivery fee based on the location.)

**Input:**\
["Rice", "Beef", "Rice"]\
**Function Call:**\
function_name(["Rice", "Beef", "Rice"], "Mohakhali")\
**Output:**\
790

==============================================

**Input:**\
["Rice", "Beef", "Rice"]\
**Function Call:**\
function_name(["Rice", "Beef", "Rice"])\
**Output:**\
750

In [2]:
#user define function part:

def bekar_shop_calculation(order_items,location='Dhanmondi'):
    total=0
    dict_items={'Rice':105, 'Potato':20, 'Chicken':250, 'Beef':510, 'Oil':85}
    for key in order_items:
        if key in dict_items.keys():
            total+=dict_items[key]
    if location=='Dhanmondi' or location=='':
        total+=30
    else:
        total+=70
    return total

#input taking and output printing part:

user_in=input()
items_list=user_in.split(', ')
print(bekar_shop_calculation(items_list,input()))

Rice, Beef, Rice
Mohakhali
790

### Task 20
You have been hired by the Abahani football club to write a function that will calculate the total bonus on the yearly earnings of each player for the total goals they have scored. Since the number of players will vary, you decide to use the "*args" technique that you learned in your CSE110 class. (No need to take any input from the user. Call the functions and print the values inside the function.) 
For each player: pass the name, yearly earning, the total goal scored this season, bonus percent per goal. Additionally, if the goal scored is above 30, add an extra bonus of 10000 taka. If it is between 20 and 30 inclusive, add an extra 5000 taka.

**Example:**\
function_name("Neymar", 1200000, 30, 10)

bonus = 30 * (10 / 100 * 1200000) + 5000 = 3605000

**Function call:**\
function_name("Neymar", 1200000, 30, 10)\
**Output:**\
Neymar earned a bonus of 3605000 Taka for 30 goals.

=====================================================

**Function call:**\
function_name("Neymar", 1200000, 30, 10, "Jamal", 700000, 19, 5)\
**Output:**\
Neymar earned a bonus of 3605000 Taka for 30 goals.\
Jamal earned a bonus of 665000 Taka for 19 goals.

In [5]:
#user define function part:

def bonus_calc(*info):
    name=[]
    earning=[]
    total_goal=[]
    bonus_per=[]
    for i in range(len(info)):
        if i%4==0:
            name.append(info[i])
        elif (i+3)%4==0:
            earning.append(info[i])
        elif (i+2)%4==0:
            total_goal.append(info[i])
        elif (i+1)%4==0:
            bonus_per.append(info[i])
    
    for bon in range(len(name)):
        if total_goal[bon]>30:
            bonus = total_goal[bon]*(bonus_per[bon]/100*earning[bon])+10000
            print(name[bon], 'earned a bonus of', bonus, 'Taka for', total_goal[bon], 'goals.')
        
        elif total_goal[bon]<=30 and total_goal[bon]>20:
            bonus = total_goal[bon]*(bonus_per[bon]/100*earning[bon])+5000
            print(name[bon], 'earned a bonus of', bonus, 'Taka for', total_goal[bon], 'goals.')
        
        else:
            bonus = total_goal[bon]*(bonus_per[bon]/100*earning[bon])
            print(name[bon], 'earned a bonus of', bonus, 'Taka for', total_goal[bon], 'goals.')

#input taking and output printing part:

bonus_calc("Neymar", 1200000, 30, 10, "Jamal", 700000, 19, 5)

Neymar earned a bonus of 3605000.0 Taka for 30 goals.
Jamal earned a bonus of 665000.0 Taka for 19 goals.